{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center full-height flex-column">
    <h1 class="large-title">About</h1>
    <p class="about-paragraph">Once logged in with Spotify, you'll have access to Zot Music's special features!</p>
    <p class="about-paragraph">To merge, select two of your playlists, enter a title, and save to your profiile.</p>
    <p class="about-paragraph">To get recommendations, simply search for a track, select a search result, and click the "Get recommendations" button.</p>
</div>
{% endblock %}